<header>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
            <%= link_to 'Tech University', root_path, class: "brand-logo right" %>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><%= link_to 'Courses', root_path %></li>
                <% if logged_in? %>
                    <li><%= link_to 'Enrollments', students_path %></li>
                    <li><%= link_to 'View Profile', student_path(current_user) %></li>
                    <li><%= link_to 'Logout', logout_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'Login', login_path %></li>
                <% end %>
            </ul>
            </div>
        </div>
    </nav>

    <% flash.each do |key, message| %>
        <div class="container">
            <div class="row sign-up-form">
                <div class="col s12 m12 l12">
                    <div class="card-panel green lighten-2" id="fade-out-target">
                        <span class="white-text">
                            <%= message %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</header>